<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NLP - Evaluation Tool</title>
    <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
  </head>
  <body>
        <header>
          <h1>Restaurant Review Analysis Tool</h1>
        </header>
        <main>
          <form class="form" method="post" action="/sendReview">
            <textarea type="text"
                      name="review-input"
                      id="review-input"
                      placeholder="Paste the review for analysis right here"></textarea>
            <button id="button"
                    type="button"
                    name="button"
                    onclick="return Client.getReviewInput()">
              Analyse
            </button>
          </form>
          <hr>
          <div id="results">
            <p id="positive"><span class="fas fa-star"></span>Positive aspects of yours business:</p>
            <p id="negative"><span class="far fa-star"></span>Aspects requiring improvement:</p>
            <p id="neutral"><span class="fas fa-star-half-alt"></span>Not great, not terrible:</p>
          </div>
        </main>
      <footer>Used pics: <a href="https://www.pexels.com/photo/5-piece-dining-set-outside-store-front-1237073/" target="_blank">[1]</a></footer>
<script>
  if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  };
</script>
  </body>
</html>
