aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: left;
  margin-top: 3rem;
}


aside li button {

  background-color: #4d4c7d;
  box-shadow: none;
  border: none;
  height: 5rem;
  width: 20vw;
  margin-left: -2.5rem;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  color: black;
}
